body {
    background-color: darkgreen;
}

.App {
    text-align: center;
    margin-top: 5%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn {
    margin-top: 5%;
    padding: 10px 12px;
    background-color: blue;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid #000000;
    border-radius: 4px;
    letter-spacing: 2px;
}

.btn:active {
    background-color: darkred;
    transform: scale(1.1);
}

.text-combo {
    font-size: 25px;
    padding-top: 20px;
    color: yellow;
    display: inline-block;
}
